.advantages {
	min-height: 473px;
	padding: 70px 0 83px 0;
	background-color: #F6F6F6;
	&__icons {
		margin-top: 60px;
		// width: 952px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__icon {
		width: 277px;
		font-weight: 700;
		font-size: 18px;
		line-height: 29px;
		text-align: center;
		color: #0D0D0D;
		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 35px;
		}
		span {
			margin-top: 20px;
			display: block;
			font-weight: 300;
			font-size: 14px;
			line-height: 18px;
			text-align: center;
			color: #0D0D0D;
		}
		&_animated {
			animation: heartbeat 1.5s ease infinite;
			// animation-name: heartbeat;
			// animation-duration: 1.5s;
			// animation-timing-function: ease;
			// animation-iteration-count: infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
	}
	&__link {
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		text-decoration-line: underline;
		color: #FF0000;
		a {
			:hover {
				color: #FF0000;
			}
		}
	}
}